%h1
  .text-center
    Join Instacart as a Shopper!

.row
  .shopper-form
    .text-center
      =link_to 'Apply Now', new_applicant_path, remote: true, class: 'btn btn-primary'
      =link_to 'Continue Application', new_applicant_path, class: 'btn btn-primary'
