// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import "nvd3";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

.navbar-brand {
  color: #fff;
}

.navbar {
  background: rgba(255,255,255,0.7);
}

main {
  @extend .container;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px;
}

section {
  @extend .row;
  margin-top: 20px;
}

body {
  background-image: url(carrots.jpg);
  color: #fff;
}

.homepage-container {
  width: 80%;
  height: 20%;
  margin: auto;
  position: absolute;
  top: 5px; left: 0; bottom: 0; right: 0;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid white;
  background: rgba(255,255,255,0.3);
}

.large-container {
  padding-left: 30%;
  height: 78%;
}
